@charset "EUC-KR";

.search-group {
	margin : 10px 0px 10px 0px;
	padding: 10px;
	height: 30px;
	width: 30px;
	background-color: #fff;
	border: 1px solid #112D4E;
	border-radius: 30px;
	transition: 0.4s;
}

.search-group:hover {
	box-shadow: 0px 0px .5px 1px #112D4E;
	width: 500px;
}

.search-btn {
	text-decoration: none;
	float: right;
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 50%;
	display: flex; justify-content : center; align-items : center;
	color: #112D4E;
	justify-content: center;
	align-items: center;
}

.search-group:hover .search-txt {
	width: 240px;
	padding: 0 6px;
}

.search-txt {
	padding: 0;
	width: 0px;
	border: none;
	background: none;
	outline: none;
	float: left;
	font-size: 1rem;
	line-height: 30px;
	transition: .4s;
}

/*contents-main*/
.list-box {
	border-bottom : 3px solid #DBE2EF;
	width : 70%;
	height : 100px;
	margin : 10px;
	font-size : 15px;
	padding: 20px;
}

table {
	width:100%;
	height:100%;
	text-align:center;
}
th, td {
	border: 0px solid #444444;
    padding: 5px;
    font-size : 20px;
}

#icon {
	font-size: 5em;
}

#a-deco {
	text-decoration : none;
	color : #112D4E;;
	font-size : 20px;
	background-color : white;;
	padding :10px;
	transition: 0.5s;
	border-radius : 5px;
	border: 1px solid #112D4E;
}
#a-deco:hover {
	color : white;
	background-color : #112D4E;;
}

.page {
	font-size : 30px;
}
#pageMove {
	text-decoration : none;
	color : black;
}
.create {
	padding : 30px 0 0 0;
}