<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.dao.mybatis.mapper.HbtiMapper">
	<cache />

	<!-- 해당 hbti_id의 Hbti 모든 정보 반환 -->
	<select id="selectHbtiByHbtiId" parameterType="int"
		resultType="HBTI">
		SELECT name, goodhbti, badhbti, icon, good_descr,
		bad_descr, exercise
		FROM HBTI
		WHERE hbti_id = #{hbti_id}
	</select>

	<!-- 랭킹에 사용 -->

	<!-- 특정 hbti의 group_id 반환 -->
	<select id="selectGroupByHbtiId" resultType="int">
		SELECT group_id
		FROM
		GroupInfo
		WHERE hbti_id = #{hbti_id}
	</select>

	<!-- 특정 그룹의 member 수 구하기 -->
	<select id="selectGroupMemberNumByGroupId" parameterType="int"
		resultType="int">
		SELECT COUNT(user_id)
		FROM UserInfo
		WHERE group_id =
		#{group_id}
	</select>

	<!-- 특정 그룹에 해당하는 user_id 리스트 구하기 -->
	<select id="selectUserListByGroupId" resultType="string">
		SELECT user_id
		FROM UserInfo
		WHERE group_id = #{group_id}
	</select>

	<!-- 해당 user가 오늘 챌린지를 했는지 -->
	<select id="selectTodayChallengeByUserId" parameterType="string"
		resultType="int">
		SELECT COUNT(*)
		FROM CHALLENGEPOST
		WHERE TO_DATE(sysdate) &lt;= write_date AND writer_id = #{user_id}
	</select>



</mapper>