@charset "EUC-KR";
 
 /* 본문 글씨체 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 제목 글씨체 */
@font-face {
    font-family: 'ELAND_Choice_B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.contents { 
	display : flex;
	align-items : center;
	flex-direction: column;
	padding : 200px 0px 0px 0px;
}

#sub-title {
	color:  #DBE2EF;
	font-size: 30px;
	font-family: 'ELAND_Choice_B';
}

/* contents 스타일 */
.contents-split{
	margin-bottom : 50px;
	padding : 50px 0px 50px 0px;
	width : 1000px;
	background-color : white;
	display : flex;
	align-items : center;
	flex-direction: column;
	border-radius : 10px;
	text-align:center;
	font-family: 'Pretendard-Regular';
}

/* 소제목 아래 설명 */
#intro {
	font-size: 20px;
	text-align:center;
	color : #112D4E;
}

/* 컨텐츠 제목 */
#contents-title {
	color:  #112D4E;
	font-size: 30px;
	font-family: 'ELAND_Choice_B';
}