@charset "EUC-KR";

.split {
	border-bottom : 3px solid  #DBE2EF;
	padding: 10px;
}

table {
	width : 50%;
}
td {
	font-size : 20px;
	padding : 5px;
}
#len {
	height : 50px;
}
span {
	padding : 10px;
}