@charset "UTF-8";

/* contatiner stylesheet */

.wrapper{
	display : flex;
	align-items : center;
	flex-direction : column;
	justify-content : center;
	margin : 10%;
	padding : 30px;
}
.contents {
  
   background-color:#FFFFFF;
   border-radius: 10px;
	font-size:20px;	
	width : 70%;
	
}
.form {
   font-size:20px;
   margin : 50px 50px;
   line-height:1.8;
}

#todo-title {
	color : white;
	font-family: 'SDSamliphopangche_Basic';
	font-size : 30px;
}

.b {
   background-color: #FFFFFF;
   border : 2px solid #112D4E;
   border-radius : 10%;
   width:50px;
   height:20px;
   font-family: 'ELAND_Choice_B';
   margin-right : 5px;
   float: right;
   
}

#t {
	border:0px solid white;
	width : 60%;
	padding-left: 10px;
	font-family :'ELAND_Choice_B';
	font-size : 18px;
	
  }
  
#de{
	color : gray;
}

#de:hover {
	text-decoration : none;
	color : #112D4E;
	font-family : 'SDSamliphopangche_Basic';
}


  